[Desktop Entry]
Name=aoxmi
Comment=Another Opensource XenServer Management Interface
Categories=System;
Exec=aoxmi
Terminal=false
Type=Application
Icon=xen
StartupNotify=true
